.idea/
node_modules/
config/
log/
.prettierrc
db/*.db
db/*.db-journal
build/
!config/template
Assets/**/*
!Assets/.gitignore
data/joke/**/*.png
data/joke/**/*.jpg
data/joke/**/*.gif
data/mo_talk/**/*.png
data/mo_talk/**/*.jpg
data/mo_talk/**/*.gif

